@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Parkinsans;
}
h1{
    font-size: 6rem;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
#searchInput{
    flex: wrap;
    width: 300px;
    height: 40px;
    border-radius: 15px;
}
#searchBtn{
    flex: wrap;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}
#pokemonList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    width: 70%;
    padding: 5%;
    
}
.icono{
    height: 100%;
}
.pokemonCard{
    justify-content: center;
    padding: 15%;
}